body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url(imagenes/fondo_registro.jpg);
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}
.contenedor {
  width: 100%;
  padding: 10px;
}
.formulario {
  background: #fff;
  margin-top: 150px;
  padding: 3px;
}

h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}
.centrado{
        margin:10px auto;
        display:block;
        width: 250px;
        height: 130px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.input-contenedor {
  margin-bottom: 10px;
  border: 1px solid #aaa;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}

.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: black;
}
p {
  text-align: center;
}
.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.link:hover {
  color: cadetblue;
}

@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 150px;
  }
}
