<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilosperfil.css">
    <title>Perfil</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.ico">
</head>
<header style="font-size: 50px;">
    <label>Perfil de usuario</label>
    <button class="dashboard"
        style="width: 100px;float:right;background-color: #4CAF50; color: black;font-weight: bolder; border-collapse: collapse; border-style: hidden;"
        onclick=location.href="/dashboard.html"> Regresar
        al
        dashboard</button>
</header>

<body>
    <section>
        <label style="font-size: 30px;">Datos del usuario:</label>
        <table class=" tb-usuario">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </section>
    

    <template id="datos_usuario">
        <th id="nombre_usuario"></th>
        <th id="apellido_usuario"></th>
    </template>
    
</body>
<script src="js/perfil.js"></script>

</html>