.tb-usuario {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tb-usuario td,
.tb-usuario th {
  border: 1px solid #ddd;
  padding: 8px;
}
.tb-usuario tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tb-usuario tr:hover {
  background-color: #f2f2f2;
}
.tb-usuario th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

.tb-mis_proyectos {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tb-mis_proyectos td,
.tb-mis_proyectos th {
  border: 1px solid #ddd;
  padding: 8px;
}
.tb-mis_proyectos tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tb-mis_proyectos tr:hover {
  background-color: #f2f2f2;
}
.tb-mis_proyectos th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}

header {
  overflow: hidden;
  background-color: #333;
  color: #f2f2f2;
  text-decoration: none;
}
